<h1>Watch List</h1>

<h2><%= "Choose your list :" %></h2>

<div>
  <% @lists.each do |list| %>
    <%= render list %>
    <p class="container">
    <%= cl_image_path(list.photo.key, height: 300, width: 400, crop: :fill) %>
      <%= link_to "Show this list", list %>
    </p>
  <% end %>
</div>

<%= link_to "See all movies", movies_path %>
<%= link_to "New list", new_list_path %>
